<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- 服务器IP地址 -->
    <ip>127.0.0.1</ip>

    <!-- 服务器端口号 -->
    <port>8888</port>

    <!-- 服务器最大连接数 -->
    <maxRequestNum>10</maxRequestNum>

    <threadPool>
        <!-- 线程池大小 -->
        <size>10</size>

        <!-- 线程池队列大小 -->
        <queueSize>100</queueSize>
    </threadPool>
</config>